<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${itemList}">
      <td th:text="${o.id}"></td>
      <td th:text="${o.name}"></td>
      <td><a th:href="@{/items/{itemId}(itemId=${o.id})}">show</a> | <a
          th:href="@{/items/{itemId}.json(itemId=${o.id})}">json</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
