<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <title>テスト</title>
</head>

<body>
<input type="hidden" id="context-path" th:value="@{/}"/>
<div>
  <h1><a href="/">テスト</a></h1>
  <ul>
    <li><a th:href="@{/admin}">アドミン</a></li>
    <li><a th:href="@{/security}">セキュリティ</a></li>
    <li><a th:href="@{/tags}">Tags</a></li>
    <li><a th:href="@{/companies}">Companies</a></li>
  </ul>
  <th:block layout:fragment="content"></th:block>
</div>


<script>
  var CONTEXT_PATH = document.getElementById("context-path").value.slice(0, -1);

  function createPath(path) {
    return CONTEXT_PATH + path;
  }

</script>

<script th:src="@{/jquery-3.3.1.min.js}"></script>

<th:block layout:fragment="js"></th:block>
</body>
</html>
